name: Setup Database

on:
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Instalar dependências
        run: pip install -r requirements.txt

      - name: Setup banco de dados
        run: python main_cloud.py setup

      - name: Estatísticas
        run: python main_cloud.py stats
